@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #5995E4, #8E27F7);
}

header{
    height: 40px;
    padding: 5px 30px;
    background-color: aliceblue;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

.home h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgb(24, 24, 24);
}

.home p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #e1eeff;
    margin: 50px auto;
    width: 700px;
}

.buttons{
  width: 500px;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
}

.registration{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #5995E4, #8E27F7);
}

.regForm{
  width: 500px;
  height: 280px;
  background-color: #e1eeff;
  margin: 30px auto;
  border-radius: 20px;
}  


.auth{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #5995E4, #8E27F7);
}

.authForm{
  width: 500px;
  height: 280px;
  background-color: #e1eeff;
  margin: 30px auto;
  border-radius: 20px;
}

.main{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #5995E4, #8E27F7);
}

.display{
  width: 1000px;
  height: 689px;
  background-color: #e1eeff;
  margin: 30px auto;
  margin-bottom: 20px;
  border-radius: 20px;
}

.greet{
  margin: 15px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
}

.notes{
  margin: 10px 30px;
  width: 900px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.note{
  font-family: "Edu NSW ACT Foundation", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  width: 150px;
  height: 150px;

  /* background-color: #fffa6a;
  color: #262161;
  opacity: 0.8; */

  /* background-color: #a2bad4;
  color: #373f55; */
  
  background-color: #c3deb1;
  color: #121d30;

  /* background-color: #dcc9dd;
  color: #413053; */



  margin: 10px;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: all ease 0.2s;
}

.note:hover{
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.pagination{
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
  position: fixed;
  top: 700px
}

.display-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.create{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #5995E4, #8E27F7);
}

.createForm{
  width: 500px;
  height: 300px;
  background-color: #e1eeff;
  margin: 30px auto;
  margin-bottom: 20px;
  border-radius: 20px;
}

.trash{
  width: 30px;
  height: 30px;
  
  transition: all ease 0.2s;
}

.contacts{
  display: flex;
  width: 120px;
  justify-content: space-around;
}

